<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<p><%= link_to 'New Post', new_post_path %></p>


	<div class="row">
		<% @posts.each do |post| %>
        <div class="col-md-4">
	        <p><%= link_to post.title %></p>
	        <h2><%= post.body %></h2>
	        <p><%= link_to 'Show', post %></p>
	        <p><%= link_to 'Edit', edit_post_path(post) %></p>
	        <p><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
			<button type = "button" class = "btn btn-primary">Call Now</button>
        	
        </div><!-- col-4-md -->
        <% end %>
	 
    </div><!-- ROW -->

    
   
       
     
 




